.responsive {
    max-width: 100%;
    height: auto;
}

/* Imagine sizing */
img.xsmall {
    width: 100%;
    height: auto;
    max-width: 50px;
}

img.small {
    width: 100%;
    height: auto;
    max-width: 100px;
}

img.medium {
    width: 100%;
    height: auto;
    max-width: 150px;
}

img.large {
    width: 100%;
    height: auto;
    max-width: 300px;
}

img.xlarge {
    width: 100%;
    height: auto;
    max-width: 450px;
}


img.xxlarge {
    width: 100%;
    height: auto;
    max-width: 550px;
}

/* em styling */
img.xs-em {
    height: 0.75em;
}
img.s-em {
    height: 1em;
}

img.m-em {
    height: 1.25em;
}

img.l-em {
    height: 1.75em;
}

img.xl-em {
    height: 2em;
}

/* Misc */
img.rounded {
    border-radius: 50%;
}

.bg-image-container {
    position: relative;
    text-align: center;
}

.bg-image {
    /* The image used */
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        rgba(68, 105, 126, 0.788), 
        rgba(68, 105, 126, 0.788) 
    ),
    /* bottom, image */
    url("https://firebasestorage.googleapis.com/v0/b/theblairfamilyfoundation-org.appspot.com/o/nature.png?alt=media&token=f2dc74ac-bb80-4847-9345-f47346f736de");
    
    /* Full height */
    height: 700px;
    
    /* Center and scale the image nicely */
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image-about {
    /* The image used */
    background:
    /* bottom, image */
    url("https://firebasestorage.googleapis.com/v0/b/theblairfamilyfoundation-org.appspot.com/o/family.jpg?alt=media&token=ad8e04b7-0ff1-420e-a34f-bbf8425adcd4");
    
    /* Full height */
    height: 400px;
    
    /* Center and scale the image nicely */
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image-focus-1 {
    /* The image used */
    background:
    /* bottom, image */
    url("https://firebasestorage.googleapis.com/v0/b/theblairfamilyfoundation-org.appspot.com/o/family.jpg?alt=media&token=ad8e04b7-0ff1-420e-a34f-bbf8425adcd4");
    
    /* Full height */
    height: 200px;
    
    /* Center and scale the image nicely */
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image-focus-2 {
    /* The image used */
    background:
    /* bottom, image */
    url("https://firebasestorage.googleapis.com/v0/b/theblairfamilyfoundation-org.appspot.com/o/family.jpg?alt=media&token=ad8e04b7-0ff1-420e-a34f-bbf8425adcd4");
    
    /* Full height */
    height: 200px;
    
    /* Center and scale the image nicely */
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image-focus-3 {
    /* The image used */
    background:
    /* bottom, image */
    url("https://firebasestorage.googleapis.com/v0/b/theblairfamilyfoundation-org.appspot.com/o/family.jpg?alt=media&token=ad8e04b7-0ff1-420e-a34f-bbf8425adcd4");
    
    /* Full height */
    height: 200px;
    
    /* Center and scale the image nicely */
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
}
  
/* Position text in the middle of the page/image */
.bg-content {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 75%;
    border: 1px solid white;
    border-top: 0;
}

.bg-content:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: calc(50% + 125px/2);
    height: 1px;
    background: white;
}
.bg-content:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: calc(50% + 125px/2);
    height: 1px;
    background: white;
}

.bg-h1 {
    font-size: 2.8em;
    margin: 0 0 20px 0;
}

.bg-p {
    font-size: 1.2em;
    width: 50% !important;
}

.bg-text-box {
    padding: 40px 0 50px 0;
}

   

@media(max-width: 900px) {
    .bg-content {
        padding: 0 15px 0 15px;
        width: 90%;
    }

    .bg-p {
        font-size: 14px;
        width: 80% !important;
    }

    .bg-h1 {
        margin: 0 0 1% 0;
        font-size: 1.6em;
    }

    .bg-text-box {
        padding: 25px 0 50px 0;
    }
}

.middle-logo {
    width: 100%;
    height: auto;
    max-width: 125px;
    margin: -50px 0px 0px 0px;
}


/* Focus boxes */

.focus-container {
    position: relative;
}

.focus-container img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

@media(max-width: 900px) {
    .focus-container {
        max-height: 200px;
        overflow: hidden;
    }
}

.focus-container .text {
    transition: .2s ease;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-style: bold;
    /* font-size: 4vw; */
    font-size: 2.5rem;
    text-shadow: 3px 1.5px 1px black;
}

.focus-container .hover-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-weight: 900;
    /* font-size: 1.5vw; */
    font-size: 18px;
}

  .focus-container:hover img {
    opacity: 0.1;
  }
  
  .focus-container:hover .hover-text {
    opacity: 1;
  }

  .focus-container:hover .text {
    opacity: 0;
  }

  